<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <!--castle配置文件-->
  <castle>
    <include uri="file://Config/Facilities.config" />
    <include uri="file://Config/Daos.config" />
  </castle>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpModules>
      <add name="myHttpModule" type="ibatisService.MHttpModule,ibatisService" />
    </httpModules>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
   
    
    <services>
      <service behaviorConfiguration="ibatisService.DataServiceBehavior"
        name="ibatisBusiness.DataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webBinding" bindingNamespace="http://192.168.16.47:8733/DataService"
          contract="ibatisBusiness.IDataService" kind="webHttpEndpoint" endpointConfiguration="RESTEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.88.88:8733/DataService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ibatisService.ServicePostBehavior"
        name="ibatisBusiness.ServicePost">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webBinding" bindingNamespace="http://192.168.16.47:8733/ServicePost"
          contract="ibatisBusiness.IServicePost" kind="webHttpEndpoint" endpointConfiguration="RESTEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.88.88:8733/ServicePost" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ibatisService.DataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ibatisService.ServicePostBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="true">
          <!--<security mode="None"></security>-->
          <!--<security mode="Transport">
            <transport clientCredentialType="None"></transport>
        </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add scheme="webHttp" binding="webHttpBinding" />
    </protocolMapping>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="RESTEndpoint" crossDomainScriptAccessEnabled="true" contentTypeMapper="ibatisService.RESTContentTypeMapper,ibatisService" />
      </webHttpEndpoint>
    </standardEndpoints>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>-->
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Content-Type,Host,Origin,Pragma,Referer,User-Agent" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
        <add name="Access-Control-Max-Age" value="1000" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="OPTIONSVerbHandler" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>