<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>

    <!--为Castle 扩展 事务处理功能-->
    <!--<facility id="transaction" type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />-->
  </facilities>
</configuration>

