<?xml version="1.0"?>
<!--属性列表,设置IBatis的配置文件中的通用变量。-->
<settings>
  <add key="provider" value="oracle11.2"/>

  <!--开发库连接-->
  <add key="connectionreaderstring" value="Data Source=YW_UTF8_DB;User ID=miteno;Password=a123456;"/>
  <add key="connectionwriterstring" value="Data Source=YW_UTF8_DB;User ID=miteno;Password=a123456;"/>

  <!--<add name="connectionreaderstring" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.15.122)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=jingjing)));User ID=miteno;Password=a123456"/>
  <add name="connectionwriterstring" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.15.122)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=jingjing)));User ID=miteno;Password=a123456"/>-->
  
  <!--明文示例-->
  <add key="connectionJJLGString" value="Data Source=TESTCRMDB;Persist Security Info=True;User ID=crm;Password=lg.114;Connection Timeout =1000"/>
  <add key="root" value="xml\" />
  <add key="assembly" value="WCFService"/>
</settings>
