<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
      xmlns="http://ibatis.apache.org/dataMapper"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--常用参数配置文件-->
  <properties resource="Config\Properties.config"/>
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/> 
  </settings>
  <!--database providers  数据库适配器配置文件-->
  <providers resource="Config\Providers.config"/>

  <!-- Database connection information 数据库连接信息-->
  <database>
    <provider name="${provider}"/>
    <dataSource name="AdventureWorks" connectionString="${connectionReaderString}"/>
  </database>

  <!--<dataSource xsi:type="SIMPLE">
    <property name ="Pool.PingEnabled" value ="true"/>
    <property name ="Pool.PingQuery" value ="select 1"/>
    <property name ="Pool.PingConnectionsOlderThan" value ="0"/>
    <property name ="Pool.PingConnectionsNotUsedFor" value ="3600000"/>
  </dataSource>-->


  <sqlMaps>

    <sqlMap resource="Persistence/xml/DATA_DICTIONARY.xml"/>
    <!--<sqlMap resource="bin/CRM_Persistence/Maps/Customer/SO_ORDER_CHECKING_LOG.xml" />-->

  </sqlMaps>
</sqlMapConfig>
