<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <!--castle配置文件-->
  <castle>
    <include uri="file://Config/Facilities.config" />
    <include uri="file://Config/Daos.config" />
  </castle>
  <appSettings />
  <system.web>
    <!--<compilation targetFramework="4.5" debug="true" />-->
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime
        maxQueryStringLength="2097151"
        maxRequestLength="2147483647"
        executionTimeout="300" />
    
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfServiceRest.RestService.DataDictionaryService">
        <endpoint contract="WcfServiceRest.Interface.IDataDictionaryService" binding="webHttpBinding" bindingConfiguration="webBinding"  />
      </service>
      <service name="WcfServiceRest.RestService.FileUploadService">
        <endpoint contract="WcfServiceRest.Interface.IFileUploadService" binding="webHttpBinding" bindingConfiguration="webBinding"  />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="false"  closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
               allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" transferMode="Buffered"  useDefaultWebProxy="true"  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>

    </bindings>
    <protocolMapping>
      <remove scheme="http"/>
      <add scheme="webHttp" binding="webHttpBinding" />
      <add  scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>


    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <!--服务路由，改为在Global里做，省掉svc文件-->
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
        -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>-->
  
</configuration>
<!--<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  -->
<!--castle配置文件-->
<!--
  <castle>
    <include uri="file://Config/Facilities.config"/>
    <include uri="file://Config/Daos.config"/>
  </castle>
  <appSettings/>
  -->
<!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
<!--
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="false"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ajaxbehaviors">
          <webHttp helpEnabled="true"></webHttp>
          -->
<!--<enableWebScript/>-->
<!--
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfServiceRest.RestService.DataDictionaryService">
        <endpoint contract="WcfServiceRest.Interface.IDataDictionaryService" binding="webHttpBinding" behaviorConfiguration="ajaxbehaviors"/>
      </service>
    </services>
    <protocolMapping>
      <add scheme="webHttp" binding="webHttpBinding"/>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      -->
<!--服务路由，改为在Global里做，省掉svc文件-->
<!--
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>-->
<!--<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ajaxbehaviors">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="API.TestServices">
        <endpoint address="" binding="webHttpBinding" contract="API.IServices" behaviorConfiguration="ajaxbehaviors"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>-->
<!--back 20170601=============================================-->
<!--<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  -->
<!--castle配置文件-->
<!--
  <castle>
    <include uri="file://Config/Facilities.config"/>
    <include uri="file://Config/Daos.config"/>
  </castle>
  <appSettings/>
  -->
<!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
<!--
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfServiceRest.RestService.DataDictionaryService">
        <endpoint contract="WcfServiceRest.Interface.IDataDictionaryService" binding="webHttpBinding" kind="webHttpEndpoint" endpointConfiguration="RESTEndpoint"/>
        -->
<!--endpointConfiguration="RESTEndpoint"-->
<!--
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
<!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
<!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
<!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
<!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="false">
          -->
<!--<security mode="None"></security>-->
<!--
          -->
<!--<security mode="Transport">
            <transport clientCredentialType="None"></transport>
        </security>-->
<!--
        </binding>
      </webHttpBinding>
    </bindings>

    -->
<!--定义RESTContentTypeMapper 用于兼容GET方式传值接收JSON或XML -->
<!--
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="RESTEndpoint" crossDomainScriptAccessEnabled="false" contentTypeMapper="WcfServiceRest.RESTContentTypeMapper,WcfServiceRest"/>
      </webHttpEndpoint>
    </standardEndpoints>

    <protocolMapping>
      <add scheme="webHttp" binding="webHttpBinding"/>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      -->
<!--服务路由，改为在Global里做，省掉svc文件-->
<!--
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    -->
<!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
<!--
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>-->