<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="commonMapperFactory" type="ibatisPersistence.DataAccess.SqlMapperFactory,ibatisPersistence">
      <parameters>
        <!--具体指向配置文件 在SqlMapperFactory内部配置 【区分读写库】--> 
        <configFileOfDataAccess>Config\Properties.config</configFileOfDataAccess>
      </parameters>
    </component>

    <!--<component id="CU_CUSTOMER_SEARCH_LOGDao" service="JJLG.Persistence.Interface.ICU_CUSTOMER_SEARCH_LOGDao,JJLG.Persistence" type="JJLG.Persistence.MapperDao.CU_CUSTOMER_SEARCH_LOGDao,JJLG.Persistence"/>-->
    <component id="DATA_DICTIONARYDao" service="ibatisPersistence.Persistence.IDao.IDATA_DICTIONARYDao,ibatisPersistence" type="ibatisPersistence.Persistence.Dao.DATA_DICTIONARYDao,ibatisPersistence"/>
    
  </components>
</configuration>
