<?xml version="1.0"?>
<!--属性列表,设置IBatis的配置文件中的通用变量。-->
<settings>
  <add key="provider" value="SQLite3"/><!--oracle11.2-->

  <!--开发库连接-->
  <add key="connectionReaderString" value="Data Source=YW_UTF8_DB;User ID=miteno;Password=a123456;"/>
  <add key="connectionWriterString" value="Data Source=YW_UTF8_DB;User ID=miteno;Password=a123456;"/>
  
  <add key="connectionSqliteReaderString" value="Data Source=|DataDirectory|\testwcf;Version=3;"/>
  <add key="connectionSqliteWriterString" value="Data Source=|DataDirectory|\testwcf;Version=3;"/>
  <!--明文示例-->
  <!--<add key="connectionJJLGString" value="Data Source=TESTCRMDB;Persist Security Info=True;User ID=crm;Password=lg.114;Connection Timeout =1000"/>-->
  <!--<add key="root" value="xml\" />
  <add key="assembly" value="WCFService"/>-->
</settings>


