<?xml version="1.0" encoding="utf-8"?>
<providers
xmlns="http://ibatis.apache.org/providers"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <clear/>
  <provider
        name="SqlServer2008"
        enabled="false"
        description="Microsoft SQL Server 2008, provider V4.0.0.0 in framework .NET V4.0"
        assemblyName="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        connectionClass="System.Data.SqlClient.SqlConnection"
        commandClass="System.Data.SqlClient.SqlCommand"
        parameterClass="System.Data.SqlClient.SqlParameter"
        parameterDbTypeClass="System.Data.SqlDbType"
        parameterDbTypeProperty="SqlDbType"
        dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
        commandBuilderClass=" System.Data.SqlClient.SqlCommandBuilder"
        usePositionalParameters = "false"
        useParameterPrefixInSql = "true"
        useParameterPrefixInParameter = "true"
        parameterPrefix="@"
        />
  <provider
	      name="oracle11.2"
	      description="Oracle, oracle provider v2.0.50727"
	      enabled="false"
        default="true"
	      assemblyName="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionClass="Oracle.DataAccess.Client.OracleConnection"
	      commandClass="Oracle.DataAccess.Client.OracleCommand"
       	parameterClass="Oracle.DataAccess.Client.OracleParameter"
      	parameterDbTypeClass="Oracle.DataAccess.Client.OracleDbType"
      	parameterDbTypeProperty="OracleDbType"
      	dataAdapterClass="Oracle.DataAccess.Client.OracleDataAdapter"
      	commandBuilderClass="Oracle.DataAccess.Client.OracleCommandBuilder"
      	usePositionalParameters="true"
      	useParameterPrefixInSql="true"
	      useParameterPrefixInParameter="true"
      	parameterPrefix=":"
      	useDeriveParameters="false" />
  
  <provider
        name="SQLite3"
        description="System.Data.SQLite, Version=1.0.105.1"
        enabled="true"
        assemblyName="System.Data.SQLite, Version=1.0.105.1, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
        connectionClass="System.Data.SQLite.SQLiteConnection"
        commandClass="System.Data.SQLite.SQLiteCommand"
        parameterClass="System.Data.SQLite.SQLiteParameter"
        parameterDbTypeClass="System.Data.DbType, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        parameterDbTypeProperty="DbType"
        dataAdapterClass="System.Data.SQLite.SQLiteDataAdapter"
        commandBuilderClass="System.Data.SQLite.SQLiteCommandBuilder"
        usePositionalParameters="true"
        useParameterPrefixInSql="false"
        useParameterPrefixInParameter="false"
        parameterPrefix="@"
        setDbParameterPrecision="false"
        setDbParameterScale="false"
        setDbParameterSize="false"/>
   
</providers>